# you can gather the values from running `pnpm db:status` command

# API URL in db:status output
# This is the URL of your Supabase instance
SUPABASE_URL=""

# anon key in db:status output
# This is the anon key for your Supabase instance
SUPABASE_KEY=""

# service_role key in db:status output
# This is the service role key for your Supabase instance
SUPABASE_SERVICE_KEY=""

# meilisearch base url
MEILISEARCH_BASE_URL=""
